# Base de données MySQL (Hostinger)
DATABASE_URL="mysql://user:password@host:3306/earthsanitation"

# NextAuth
NEXTAUTH_SECRET="generer-un-secret-avec-openssl-rand-base64-32"
NEXTAUTH_URL="https://earth-sanitation.fr"

# Optionnel
GOOGLE_PLACES_API_KEY=""
